@import "bootstrap/dist/css/bootstrap.min.css";

/* -----------------------------------------------------------
    FONTS
------------------------------------------------------------*/
/* igtre v Bold */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Figtre variable Italic */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body{
  margin: 0px;
}

 // ABOUT CONTAINER
 /*
.about-container h1{
  font-family: "Figtree", "Helvetica Neue";
  color: #333333ee;
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.about-container p{
  font-family: "Figtree", "Helvetica Neue";
  color: #757575;
  font-size: 1.1rem;
}
*/

.font-figtree {
  font-family: "Figtree", "Helvetica Neue";
}

.about-container h1{
  color: #333333d0;
  letter-spacing: -0.04em;
}

.about-container p{
  color: #757575;
  line-height: 1.4;
}

.about-left{
  background-color: white;
}

.about-center {
  background: linear-gradient(
    to bottom right,
    white 0%,
    white 50%,
    rgba(0, 0, 0, 0.02) 50%,
    rgba(0, 0, 0, 0.02) 100%
  );
}

.about-right{
  background-color:rgba(0, 0, 0, 0.02);
}

/*
.about-left{
  background-color: white;
}
.about-center {
  background: linear-gradient(
    to bottom right,
    white 0%,
    white 50%,
    rgba(0, 0, 0, 0.02) 50%,
    rgba(0, 0, 0, 0.02) 100%
  );
}

.about-right{
  background-color: rgba(0,0,0,0.02);
}*/
