@import "bootstrap/dist/css/bootstrap.min.css";

/* -----------------------------------------------------------
    FONTS
------------------------------------------------------------*/
/* igtre v Bold */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Figtre variable Italic */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body{
  margin: 0px;
}

 // ABOUT CONTAINER
.about-container{
  min-height: 100dvh
}

.about-container h1{
  font-family: "Figtree", "Helvetica Neue";
  color: #333333ee;
  font-size: 3.5rem;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.about-container p{
  font-family: "Figtree", "Helvetica Neue";
  color: #757575;
  font-size: 1.1rem;
}