
@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
// tailwind-variables.scss

/* #########################################################
VARS
############################################################ */
$main-nav-height:80px;
/* color */
$primary:#F9F9F9;
$secondary: #08415C;
$accent: #F87575;

$primary:#f7f7f7;
$secondary: #333333;
$accent: #eb5155;

$dark-deep: #534B62;
$dark-neutral : #696079;
$dark-pale: #757575;

$light-deep: #F9F9F9;
$light-neutral : #F4F4F4;
$light-pale: #EFEFEF;

/* text colors */ 
.color-text-light{
  color:$light-neutral;
  .deep {
    color:$light-deep;
  }  
  .pale {
    color:$light-pale;
  }
}
.color-text-dark{
  color: $dark-neutral;
  .deep {
    color: $dark-deep;
  }  
  .pale {
    color:$dark-pale;
  }
}
.color-text-accent{
  color:$accent;
}

/* bacground color */ 
.bg.primary{
  background-color: $primary !important
}
.bg-secondary{
  background-color: $secondary !important
}
.bg-accent{
  background-color: $accent !important
}
.no-scroll {
  overflow: hidden;
}


/* #########################################################
  FONTS
############################################################ */
/* figtre v Bold */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Figtre variable Italic */
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body{

  margin: 0px;
  font-family: "Figtree", "Helvetica Neue";
  color: $dark-neutral;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  font-family: "Figtree", "Helvetica Neue";
}

/* -----------------------------------------------------------
    FONTS SIZE
------------------------------------------------------------*/
html{
  font-size: 17px;
}

h1{
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1;
}
h2{
  font-size: 3rem;
  font-style: italic;
  font-weight:bold;
  line-height: 1;
}
@media(max-width:1024px){  
  html{
    font-size: 18px;
  }
  h1{
    font-size: 0.8rem;
  }
  h2{
    font-size: 2.2rem;
  }
}

p {
  font-size: 1.2rem; 
}

/* #################################################
  COMPONENTS
################################################### */

/* -----------------------------------------------------------
    BUTTON
------------------------------------------------------------*/
button{
  background-color:$accent;
  color: $light-deep;
  transition: all 0.3s ease-in;
}
button:hover{
  background-color: $light-deep;
  color:$dark-deep
}

button.secondary{
  background-color:$secondary;
  color: $dark-deep;
  transition: all 0.3s ease-in;
}
button.secondary:hover{
  background-color: $light-deep;
  color:$dark-deep;
}

/* -----------------------------------------------------------
    MAIN NAV 
------------------------------------------------------------*/
#main-nav.isvisible{
  opacity: 1;
  visibility: visible;
}
#main-nav{
  background-color: #ebeef0;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  .isvisible {
    opacity: 1;
    visibility: visible;
  }
  .nav-logo-text{
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
  }

  .nav-logo-clip{
    background-color:$accent;
    padding-right: 20px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    width: 100%;
    transition: width 1.5s ease;
  }
  .nav-logo-clip.shrink {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    padding-right: 30px;
    width: 35px;
  }

  .icon-open-nav::before{
    color: $accent;
    transform: rotate(270deg);
    font-size: 25px;
  }
}

#main-nav-mobile{
  visibility: hidden;
  position: fixed;
  z-index: 200;
  margin-top: $main-nav-height;
  height: calc(100vh - $main-nav-height);
  width: 100vw;
  background: #ebeef07c;
  transition: all 0.8s ease-in-out;

  ul{
    padding: 0px;
    width: 0px;
    height: 100%;
    background-color: $accent;
    clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
    transition: all 0.8s ease-in-out;
    li{
      text-wrap: nowrap;
      a{
        display: block;
        align-content: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
        color: $light-deep;
      }
    }

    li:hover a{
      color: $dark-deep ;
    }
  }
}

#main-nav-mobile.show{
  visibility: visible;
  ul{
    padding: 25px;
    width: 100vw;
  }
}



/* #################################################
  PAGES 
################################################### */

/* -----------------------------------------------------------
    HOME PAGE 
------------------------------------------------------------*/

/* WHO SECTION MOBILE */ 
#home-who-section-mobile {
  .split-screen-wraper{
    width: 100%;
    position: relative;
    .split-screen-layer{
      background-color: $primary;
      width: 100%;
      .layer-wraper{
        height: 90vh;
        height: 90svh;
      }
      .text{
        min-height:140px;
      }
      .img{
        background-image: url(../assets/img/image-1.png);
        background-position:bottom;
        background-repeat: no-repeat;
        background-size:contain;
      }
    }
    .split-screen-layer.color-text-light{
      button{
        background-color:$primary;
        color: $dark-deep;
        transition: all 0.3s ease-in;
      }
      button:hover{
        background-color: $secondary;
        color: $light-deep;
      }
      i{
        color: $primary;
        transition: all 0.3s ease-in-out;
      }
      i:hover{
        color: $secondary;
      }
    }
    .split-screen-layer.color-text-dark{
      button{
        background-color: $accent;
        color: $light-deep;
        transition: all 0.3s ease-in-out;
      }
      button:hover{
        background-color: $secondary;
      }
      i{
        color: $accent;
        transition: all 0.3s ease-in-out;
      }
      i:hover{
        color: $secondary;
      }
    }
    .split-screen-layer.two{
      background-color:$accent;
      position: absolute;
      top:0px;
      .img{
        background-image: url(../assets/img/image-2.png);
      }
    }
  }
}

@media (max-width: 465px) {
  #home-who-section-mobile .split-screen-wraper .split-screen-layer .text {
    min-height: 225px;
  }
}
@media (max-width: 885px) {
  #home-who-section-mobile .split-screen-wraper .split-screen-layer .text {
    min-height: 195px;
  }
}

/* WHO SECTION */ 
#home-who-section {
  .split-screen-wraper{
    background-color: red;
    position: relative;
    .split-screen-layer{
      width: 100%;
      background-color: $accent;
      height: calc(100vh - $main-nav-height);
      height: calc(100svh - 60px);
      .img{
        background-image: url(../assets/img/image-2.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .split-screen-layer.color-text-light{
      button{
        background-color:$primary;
        color: $dark-deep;
        transition: all 0.3s ease-in;
      }
      button:hover{
        background-color: $secondary;
        color: $light-deep;
      }
      i{
        color: $primary;
        transition: all 0.3s ease-in-out;
      }
      i:hover{
        color: $secondary;
      }
    }
    .split-screen-layer.color-text-dark{
      button{
        background-color: $accent;
        color: $light-deep;
        transition: all 0.3s ease-in-out;
      }
      button:hover{
        background-color: $secondary;
      }
      i{
        color: $accent;
        transition: all 0.3s ease-in-out;
      }
      i:hover{
        color: $secondary;
      }
    }
    .split-screen-layer.two{
      background-color: $primary;
      position: absolute;
      top:0;
      left:0;
      .img{
        background-position: center;
        background-image: url(../assets/img/image-1.png);
      }
    }
  }
}


/* CURRENT PROJECTS SECTION MOBILE */ 
#section-curent-projects-mobile{
  position: relative;
  .layer{
    width: 100%;
    height: 100vh;
    height: 100svh;
  }
  .layer.two{
    background-image: url(../assets/img/ariane-mobile.jpg);
    background-size:cover;
    clip-path: polygon(0px 10%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top:0px;
    transition: clip-path 0.5s ease-in-out;
  }
}

@media (min-width: 465px) {
  #section-curent-projects{
    .layer.two{
      background-image: url(../assets/img/editTab.jpg);
    }
  }
}

/* CURRENT PROJECTS SECTION */ 
#section-curent-projects{
  position: relative;
  .text-box{
    height: calc(100vh - $main-nav-height);
    height: calc(100svh - $main-nav-height);
  }
  .layer{
    width: 100%;
    height: calc(100vh - $main-nav-height);
    height: calc(100svh - $main-nav-height);
    background-image: url(../assets/img/edit2.jpg);
    background-size:cover;
    clip-path:polygon(0% 0, 100% 0, 100% 100%, 10% 100%);
    position: absolute;
    top:0px;
  }
  button{
    position: absolute;
    z-index: 10;
    top:calc(50vh + $main-nav-height);
    top:calc(50svh + $main-nav-height);
    left:calc(42vw);
    left:calc(42svw);  
  }
}

